<div align="center">
    <h1 style="color:#2c3e50;">Assignment 1</h1>
    <h3>Introduction to Data Science (DS291)</h3>
    <p><b>Name:</b> M. Faizan Haider <br>
    <b>Roll Number:</b> S2024332017 <br>
    <b>Course:</b> Introduction to Data Science <br>
    <b>Date:</b> 24 November 2025</p>
</div>

## Q1. Arithmetic and Assignment Operators

In [5]:
# Q1: arithmetic and assignment
a = 12
b = 5

print("a =", a, "b =", b)
# arithmetic
print("addition:", a + b)
print("subtraction:", a - b)
print("multiplication:", a * b)
print("division:", a / b)         # float division
print("floor division:", a // b)  # integer division
print("modulus:", a % b)
print("exponent:", a ** b)

# assignment operators on a
a += 3
print("after a += 3 ->", a)
a -= 2
print("after a -= 2 ->", a)
a *= 2
print("after a *= 2 ->", a)
a /= 4
print("after a /= 4 ->", a)

a = 12 b = 5
addition: 17
subtraction: 7
multiplication: 60
division: 2.4
floor division: 2
modulus: 2
exponent: 248832
after a += 3 -> 15
after a -= 2 -> 13
after a *= 2 -> 26
after a /= 4 -> 6.5

## Q2. Comparison and Logical Operators

In [6]:
# Q2: comparison and logical operators

x = int(input("Enter first integer: "))
y = int(input("Enter second integer: "))

print("x == y ->", x == y)
print("x != y ->", x != y)
print("x > y ->", x > y)
print("x < y ->", x < y)
print("x >= y ->", x >= y)
print("x <= y ->", x <= y)

# logical operators
print("x > 0 and y > 0 ->", x > 0 and y > 0)
print("x > 0 or y > 0 ->", x > 0 or y > 0)
print("not (x > y) ->", not (x > y))

Enter first integer:  5
Enter second integer:  6

x == y -> False
x != y -> True
x > y -> False
x < y -> True
x >= y -> False
x <= y -> True
x > 0 and y > 0 -> True
x > 0 or y > 0 -> True
not (x > y) -> True

## Q3. Bitwise Operators

In [7]:
# Q3: bitwise operators
m = 6    # binary 110
n = 3    # binary 011

print("m & n (AND) ->", m & n)
print("m | n (OR)  ->", m | n)
print("m ^ n (XOR) ->", m ^ n)
print("~m (NOT)    ->", ~m)
print("m << 1 (left shift) ->", m << 1)
print("m >> 1 (right shift)->", m >> 1)

m & n (AND) -> 2
m | n (OR)  -> 7
m ^ n (XOR) -> 5
~m (NOT)    -> -7
m << 1 (left shift) -> 12
m >> 1 (right shift)-> 3

## Q4. Identity and Membership Operators

In [8]:
# Q4: identity and membership
nums = [1, 2, 3, 4, 5]

a = nums
b = nums.copy()   # different object with same contents
c = a

print("a is b ->", a is b)     #  False
print("a is c ->", a is c)     # True

# membership
print("3 in nums ->", 3 in nums)
print("10 not in nums ->", 10 not in nums)

a is b -> False
a is c -> True
3 in nums -> True
10 not in nums -> True

## Q5. String Operations

In [10]:
# Q5: string operations
text = "Data Science is fun and powerful."

# length
print("length:", len(text))

# upper and lower
print("upper:", text.upper())
print("lower:", text.lower())

# find using 'in'
print("'fun' in text ->", 'fun' in text)

# replace
new_text = text.replace("fun", "awesome")
print("replaced:", new_text)

# slice (characters 0 to 9)
print("slice (0:10):", text[0:10])

# reverse using slicing
print("reverse:", text[::-1])

length: 33
upper: DATA SCIENCE IS FUN AND POWERFUL.
lower: data science is fun and powerful.
'fun' in text -> True
replaced: Data Science is awesome and powerful.
slice (0:10): Data Scien
reverse: .lufrewop dna nuf si ecneicS ataD